@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Muli Light'),
    local('Muli-Light'),
    url('/muli-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('/muli-latin-300.woff') format('woff'); /* Modern Browsers */
}

/* muli-700normal - latin */
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Muli Bold'),
    local('Muli-Bold'),
    url('/muli-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('/muli-latin-700.woff') format('woff'); /* Modern Browsers */
}
