@charset 'utf-8';

$font-family: 'Muli', sans-serif;
$font-size: 1em;
$font-weight: 300;
$font-spacing: 1.625;

$subtle-shade: #dedede;
$primary: #dd04b5;
$text: #383838;
$background: #fefefe;
$accent: #b5dd04;
