<div class="masthead">
  <section>
    <h1>Awesome, I will remind you {{timeago send_at}}.</h1>
  </section>
</div>

<section>
  <div class="box">
    <p class="leadin">
      An email will be sent to <strong>{{email}}</strong> with the following message:
    </p>

    <blockquote>
      {{message}}
    </blockquote>

    <p class="center">
      <a href="/" class="button">Schedule another reminder?</a>
    </p>
  </div>
</section>
