<div class="image"><img src="/favicon-32x32.png"></div>

<h1>
  {{app_name}} is here
</h1>

<section>
  <form action="/new" method="POST">
    <div>
      <input type="email" name="email" id="email" placeholder="your email"
    </div>
    <div>
      <textarea name="message" id="message" placeholder="type your message to yourself" rows="10" cols="50"></textarea>
    </div>

    <div>
      <button type="submit">Submit</button>
    </div>
  </form>
</section>
