<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{app_name}}</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <main>
      {{>content}}
    </main>

    <footer>
      <section>
        <p class="center">
          <span class="primary-text">{{app_name}}</span> is a product built by <a href="https://fiiv.io?ref=remindist">@fiiv</a> and people following along as part of the <a href="https://frameworkless.js.org?ref=remindist">Frameworkless.js</a> online course.
        </p>
      </section>
    </footer>

    <script src="/app.js"></script>
  </body>
</html>
